<!--================ Start About Us Area =================-->
<section class="about_area section_gap">
  <div class="container">
    <div class="row justify-content-start align-items-center">
      <div class="col-lg-5">
        <div class="about_img">
          <img class="" src="assets/img/about-us.png" alt="">
        </div>
      </div>

      <div class="offset-lg-1 col-lg-5">
        <div class="main_title text-left">
          <h2>let me <br>
            Introduce myself</h2>
          <p>
            I am a full stack developer, having over 7 Years of Experience in Web Applications Development, maintaining and updating apps.
            My areas of expertise are Angular, PHP, JavaScript, MySql, Python, Web Services and Security
          </p>
          <p>
            My ambition is to reach the very top of my profession and to work with other leading developers in this field. I am committed to constantly improving myself by learning new technologies and frameworks.
          </p>
          <a class="primary_btn" href="assets/kashifCV.pdf"><span>Download CV</span></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End About Us Area =================-->

<!--================ Srart Brand Area =================-->
<section class="brand_area section_gap_bottom">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6" *ngFor="let client of clients">
            <div class="single-brand-item d-table">
              <div class="d-table-cell text-center">
                <img [src]="'assets/img/brands/'+client.logo" [alt]="client.logo" class="clientsLogo">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="offset-lg-2 col-lg-4 col-md-6">
        <div class="client-info">
          <div class="d-flex mb-50">
            <span class="lage">7</span>
            <span class="smll">Years Experience Working</span>
          </div>
          <div class="call-now d-flex">
            <div>
              <span class="fa fa-envelope"></span>
            </div>
            <div class="ml-15">
              <p>Get In Touch Now</p>
              <h3>admin@kashifali.me</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--================ End Brand Area =================-->
