<!--================ Start Header Area =================-->
<app-header></app-header>
<!--================ End Header Area =================-->

<!--================ Start Home Banner Area =================-->
<app-page-banner pageLink="about" pageTitle="About Me"></app-page-banner>
<!--================ End Home Banner Area =================-->

<app-introduce></app-introduce>

<!--================ Start Features Area =================-->
<app-services-shared></app-services-shared>
<!--================ End Features Area =================-->

<!--================Start Portfolio Area =================-->
<app-recent-work></app-recent-work>
<!--================End Portfolio Area =================-->

<!--================ Start Testimonial Area =================-->
<app-client-say></app-client-say>
<!--================ End Testimonial Area =================-->

<!--================Footer Area =================-->
<app-footer></app-footer>
<!--================End Footer Area =================-->
