<section class="features_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <div class="main_title">
          <h2>service offers </h2>
          <p>
            As a Software Engineer and a Freelancer, I can design web applications using the top scenarios and best practices with secure coding skill. I'm providing the following services.
          </p>
        </div>
      </div>
    </div>
    <div class="row feature_inner">
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="assets/img/services/php.png" alt="">
          <h4>Core PHP</h4>
          <p>Extensive grip in PHP to handle backend servers and integrating 3rd party APIs</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="assets/img/services/angular.png" alt="">
          <h4>Angular</h4>
          <p>Designing frontend applications with best Angular practices and integrating APIs</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="assets/img/services/laravel.png" alt="">
          <h4>Laravel</h4>
          <p>Excellent grip On Laravel to make applications in Laravel or to handle APIs</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature_item">
          <img src="assets/img/services/wp.png" alt="">
          <h4>WordPress</h4>
          <p>Wordpress customised themes, extensions, plugins. With Best ranked SEO tools.</p>
        </div>
      </div>
    </div>
  </div>
</section>
